{% extends 'base/base.html' %}
{% load crispy_forms_tags %}  <!-- Correctly load crispy forms tags for styling forms with Bootstrap -->
{% block title %}Create Team{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow">
                <div class="card-header">
                    <h2 class="mb-0">Create New Team</h2>
                </div>
                <div class="card-body">
                    <form method="POST" class="pt-3">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group text-center mt-4">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
