{% extends 'base/base.html' %}
{% block title %} Welcome to OpenTrain {% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center">Welcome to OpenTrain</h1>
            <p class="lead text-center mt-3">
                OpenTrain is a cutting-edge, web-based application designed to transform how organizations conduct employee training. This platform is uniquely customizable and open-source, offering a new level of adaptability in corporate training environments.
            </p>
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Why Choose OpenTrain?</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Customization:</strong> Tailor training modules to fit the specific needs of different industries, job roles, and employee skill levels.
                        </li>
                        <li class="list-group-item">
                            <strong>Open-Source:</strong> Enhance and adapt your training environment continuously with the support of a community-driven platform.
                        </li>
                        <li class="list-group-item">
                            <strong>User-Friendly Interface:</strong> Easy access to materials and efficient tracking of employee training progress.
                        </li>
                        <li class="list-group-item">
                            <strong>Comprehensive Analytics:</strong> Measure the impact of your training programs with advanced analytics to continually improve educational outcomes.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
