{% extends 'base/base.html' %}
{% block title %} Welcome Page {% endblock %}
{% block content %}
    <!-- Welcome Section -->s
    <section class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">Personnel Training Application</h1>
                <p class="lead">OpenTrain is a cutting-edge web-based application tailored to redefine employee training
                    paradigms within organizations. It serves as a dynamic and fully customizable solution, catering to
                    the
                    diverse needs and objectives of modern workplaces. Unlike traditional training methods, OpenTrain
                    distinguishes itself by being open-source, granting companies unprecedented control to mold training
                    modules according to their unique requirements.
                </p>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">Customization: OpenTrain offers unparalleled flexibility, empowering
                        companies to personalize training modules to align seamlessly with various industries, job
                        roles,
                        and skill levels.
                    </li>
                    <li class="list-group-item">Open-Source: As an open-source platform, OpenTrain fosters collaboration
                        and
                        innovation within organizations, encouraging continuous enhancement and adaptation to industry
                        trends.
                    </li>
                    <li class="list-group-item">User-Friendly Interface: With an intuitive user interface, OpenTrain
                        ensures
                        easy accessibility to training materials and seamless tracking of employee progress.
                    </li>
                    <li class="list-group-item">Comprehensive Analytics: OpenTrain provides robust analytics
                        capabilities,
                        enabling companies to evaluate the efficacy of training programs and pinpoint areas for
                        enhancement.
                    </li>
                </ol>
            </div>
        </div>
    </section>
{% endblock %}
```