{% extends 'base/base.html' %}
{% block title %} Manage Your teams {% endblock %}
{% block content %}
    <h1>Manage Your Teams</h1>
    {% for team in teams %}
        <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Name: {{ team.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Owner: {{ team.created_at }}</h6>
                    <p class="card-text"> Description: {{ team.description }}</p>
                    <p class="card-text"> Created by: {{ team.team_of_admin.name }}</p>
                </div>
        </div>
    {% endfor %}
{% endblock %}
```