{% extends 'base/base.html' %}
{% block title %} User profile {% endblock %}

{% block content %}
    {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <h1>Hello, {{ user.first_name }} {{ user.last_name }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Joined: {{ user.created_at }}</p>
    {% for team_admin in user.team_admins.all %}
        <p>Team: {{ team_admin }}</p>
        <a href="{% url 'team_detail' team_admin.id %}" class="btn btn-outline-primary">View Team</a>
        <a href="{% url 'create_announcement' %}" class="btn btn-outline-primary">Create Announcement</a>
    {% endfor %}
    <a href="{% url 'user_logout' %}" class="btn btn-outline-danger">Logout</a>
    <a href="{% url 'create_team' %}" class="btn btn-outline-primary">Create a Team</a>
{% endblock %}
```