{% extends 'base/base.html' %}
{% block title %} User profile {% endblock %}

{% block content %}
    {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <h1>Hello, {{ user.first_name }} {{ user.last_name }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Joined: {{ user.created_at }}</p>
    <h3>Quizzes made by you</h3>
    <div class="d-flex p-2 m-2 ">
        {% for quiz in quizzes %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ quiz.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Due: {{ quiz.due_date }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Created: {{ quiz.created_at }}</h6>
                    <p class="card-text">{{ quiz.description }}</p>
                    <a href="{% url 'view_quiz' quiz.id %}" class="btn btn-outline-success">View Quiz</a>
                    <a href="{% url 'quiz_management' quiz.id %}" class="btn btn-outline-warning">Manage Quiz</a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    <h3>Teams you are an admin of</h3>
    {% for team_admin in user.team_admins.all %}
        <div class="d-flex p-2 m-2 ">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ team_admin }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Created: {{ team_admin.created_at }}</h6>
                    <p class="card-text">{{ team_admin.description }}</p>
                    <a href="{% url 'edit_team' team_admin.id %}" class="btn btn-outline-primary">Edit team</a>
                </div>
            </div>
        </div>
        <br>
        <a href="{% url 'team_detail' team_admin.id %}" class="btn btn-outline-primary">View Team</a>
        <a href="{% url 'create_announcement' %}" class="btn btn-outline-primary">Create Announcement</a>
        <a href="{% url 'manage_team_view' %}" class="btn btn-outline-primary">Manage Team</a>
        <a href="{% url 'create_quiz' %}" class="btn btn-outline-primary">Create Quiz</a>
        <a href="{% url 'create_board' %}" class="btn btn-outline-primary">Create Educational Board</a>
    {% endfor %}
    <h3>Teams you are a member of</h3>
    <div class="d-flex p-2 m-2 ">
        {% if user.team_member %}
            {% for team_member in user.team_member.all %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ team_member }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Joined: {{ team_member.created_at }}</h6>
                        <a href="{% url 'team_detail' team_member.team.id %}" class="btn btn-outline-primary">View
                            Team</a>
                    </div>
                </div>
                <br>
            {% endfor %}
        {% endif %}
    </div>
    <h3>Boards you have created</h3>
    <div class="d-flex p-2 m-2">
        {% for board in boards %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ board.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Created: {{ board.created_at }}</h6>
                    <p class="card-text">{{ board.description }}</p>
                    <a href="{% url 'board_detail' board.id %}" class="btn btn-outline-success">View Board</a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    <a href="{% url 'user_logout' %}" class="btn btn-outline-danger">Logout</a>
    <a href="{% url 'create_team' %}" class="btn btn-outline-primary">Create a Team</a>
{% endblock %}
```